header{
background-color: rgba(255, 255, 255, 0.062);
text-align: center;
}

body{
    text-align: left;
    background: rgb(0, 0, 0);
    height: 100vh;
}
#titulo-rgb{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    animation:rgbColor 1s infinite;
}
@keyframes rgbColor {
  0% { color: rgb(255, 255, 255); }
  33% { color: rgb(170, 170, 170); }
  66% { color: rgb(255, 255, 255); }
  100% { color: rgb(170, 170, 170); }
}

#titulo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white;
    text-align: center;
    background-color: rgba(43, 41, 41, 0.514);
    font-size: xx-large;  
}
.contenedor{
    display: flex;
    padding-left: 70px;
    gap: 100px;
}
#presentacion{
    text-align: left;
    color: white;
    font-size: 25px;
    font-family:Roboto, sans-serif;
    max-width: 1100px;
}
.texto{
    color: aliceblue;
    font-size: large;
    font-family:Roboto, sans-serif;
}
#luffy{
    display: block;
    margin: 0 auto;
    width: 300px;
    border: px solid transparent;
    border-radius: 10px;
    background: linear-gradient(45deg, red, green, blue, red);
    background-size: 300% 300%;
    animation: rgbBorder 5s linear infinite;
    padding: 5px;
}

@keyframes rgbBorder {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

#redes{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white;
    text-align: center;
}
